<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <style>
    body {
      background-color: black;
      color: white;
      font-family: sans-serif;
      padding: 2em;
    }
    nav {
      margin-bottom: 1em;
    }
    nav a {
      color: lightblue;
      margin-right: 1em;
      text-decoration: none;
    }
    hr {
      border: none;
      border-top: 1px solid #444;
      margin: 1em 0;
    }
  </style>
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href="/about.html">About</a>
    <a href="/projects.html">Projects</a>
  </nav>
  <hr>
  {{ content }}
</body>
</html>
